In [1]:
import os
import glob
import pandas as pd
os.chdir("/home/ghazouani/Bureau/sirine")

In [4]:
education = pd.read_csv('/home/ghazouani/Bureau/sirine/Economy-tweets.csv' , error_bad_lines=False)

In [5]:
economy.head()

              user                                               Text
0  ReaveleyBarbara  @TruthOuter @lara_lazar “Those who do not lear...
1   _letsbebadguys  RT @Sillyshib: So, basically the government ar...
2  aplemkseriously  RT @brooklynmarie: Today I got the idea to put...
3   FixSheltersNow  @B_J_Davis @NeilAxelrod @LisaMarieBoothe You m...
4  GrantThorntonAU  COVID has pressed the pause button on the econ...

In [7]:
social = pd.read_csv('/home/ghazouani/Bureau/projet tweets classification/Social-tweets.csv' , error_bad_lines=False)

In [8]:
social.head()

              user                                               Text
0  obiejesiemmanu1  This man is the head of Nigeria university. \n...
1      bomalley500  @hbryant42 The meager social welfare state we ...
2        DondieCox  RT @umairh: If anyone is to blame for Brexit, ...
3        DoctorG92  @claud98_lopez @Lisette90054500 @Medikachu @di...
4       antitxistu  RT @ElSaltoDiario: Alfonso, de 59 años, fallec...

In [10]:
culture = pd.read_csv('/home/ghazouani/Bureau/projet tweets classification/Culture-tweets.csv' , error_bad_lines=False)

In [11]:
culture.head()

              user                                               Text
0        _sha_kyra  RT @Black_Archange: Aujourd’hui en France : \n...
1  penaraimakmaiei  RT @NctzenToday: จริงๆซือจือนี่ไทยก็โดนกันมาหล...
2        J_free_98  RT @okayplayer: Breakdancing has officially be...
3      _skywalker8  RT @shroomimimi: you know who felt uncomfortab...
4       Rudeboi13_  @King_Seb13 It’s so true, our culture is all a...

In [12]:
health = pd.read_csv('/home/ghazouani/Bureau/projet tweets classification/Health-tweets.csv' , error_bad_lines=False)

In [13]:
health.head()

              user                                               Text
0          JahG121  @RexChapman Well at least the guy is in good h...
1         munger_c  Philadelphia may be on the way to a record for...
2       mafiahosie  @penpark32 I am not arguing about which fandom...
3   LiveBetterLong  The plan is to start with the health, fitness ...
4  TraffordPagesUK  RT @TraffordFIS: Winter support is available f...

In [28]:
politics = pd.read_csv('/home/ghazouani/Bureau/projet tweets classification/Politics-tweets.csv' , error_bad_lines=False)

In [29]:
politics.head(5000)

                user                                               Text
0     ThomasDillhunt  RT @RepsForBiden: How’s this even legal?\n#Loc...
1        avataylor02  @JujuSlick @ScottAdamsSays Your point is??? Sh...
2      Harryy_Pawter  RT @OpIndia_in: बीजेपी प्रवक्ता ने कहा कि नए क...
3     memykidsandeye  RT @freep: BREAKING: @GovWhitmer named co-chai...
4           iza_edit  【イザ：政治ニュース】公明・山口代表「日程ありきではない」　７５歳以上医療費の１５日閣議決定...
...              ...                                                ...
4995    WelshYearian                            https://t.co/uQy5O9j55N
4996       stalinone  RT @europechinese: 英歐貿易談判仍然停滯，英國首相莊漢生將訪問布魯塞爾，會...
4997      snidelines  RT @CertainDays: You can also buy a 2021 Certa...
4998     cathbalmain  @SallyLawry @scottmorrison My guess is Morriso...
4999     Vinayak0710  RT @Republic_Bharat: कपिल मिश्रा ने योगेंद्र य...

[5000 rows x 2 columns]

In [30]:
sport = pd.read_csv('/home/ghazouani/Bureau/projet tweets classification/Sport-tweets.csv' , error_bad_lines=False)

In [31]:
sport.head(3000)

                 user                                               Text
0           dante3346  @dannyb0y6 @trucifer_x I don't know how old yo...
1             67dmy19                     @NewsNationNow So not a sport.
2     Lautaro_Arribas  RT @MarianoReyOK: Matías Ledesma en "La 94 Spo...
3      AileenAdrienne  RT @BBCSport: Paul Pogba "has to change teams"...
4        mali_hussein  RT @SunChelsea: Meet Marina Granovskaia, the m...
...               ...                                                ...
2995      Aaliyah_ys2  RT @donachena: Mon hygiène de vie est horrible...
2996  ALEXANDREDECAS6  RT @anderbatist: COM O VASCO NO Z-4, SPORT x C...
2997          witho68  @wisey_9 No less a sport than gymnastics, sync...
2998     sportscardex  @SGCFinests @darrenrovell @Sothebys @GoldinAuc...
2999       djliddle75  All "sport" hunters are cowards . . . https://...

[3000 rows x 2 columns]

In [33]:
import os
import glob
import pandas as pd
datasets = pd.concat([economy, social, culture, health, politics, sport],ignore_index=True)

datasets.head(20000)

                  user                                               Text
0      ReaveleyBarbara  @TruthOuter @lara_lazar “Those who do not lear...
1       _letsbebadguys  RT @Sillyshib: So, basically the government ar...
2      aplemkseriously  RT @brooklynmarie: Today I got the idea to put...
3       FixSheltersNow  @B_J_Davis @NeilAxelrod @LisaMarieBoothe You m...
4      GrantThorntonAU  COVID has pressed the pause button on the econ...
...                ...                                                ...
19995      Aaliyah_ys2  RT @donachena: Mon hygiène de vie est horrible...
19996  ALEXANDREDECAS6  RT @anderbatist: COM O VASCO NO Z-4, SPORT x C...
19997          witho68  @wisey_9 No less a sport than gymnastics, sync...
19998     sportscardex  @SGCFinests @darrenrovell @Sothebys @GoldinAuc...
19999       djliddle75  All "sport" hunters are cowards . . . https://...

[20000 rows x 2 columns]

In [34]:
datasets.to_csv( "data.csv", index=False, encoding='utf-8-sig')

In [35]:
new_datasets = pd.read_csv('/home/ghazouani/Bureau/projet tweets classification/data.csv' )

In [36]:
new_datasets.head(20000)

                  user                                               Text
0      ReaveleyBarbara  @TruthOuter @lara_lazar “Those who do not lear...
1       _letsbebadguys  RT @Sillyshib: So, basically the government ar...
2      aplemkseriously  RT @brooklynmarie: Today I got the idea to put...
3       FixSheltersNow  @B_J_Davis @NeilAxelrod @LisaMarieBoothe You m...
4      GrantThorntonAU  COVID has pressed the pause button on the econ...
...                ...                                                ...
19995      Aaliyah_ys2  RT @donachena: Mon hygiène de vie est horrible...
19996  ALEXANDREDECAS6  RT @anderbatist: COM O VASCO NO Z-4, SPORT x C...
19997          witho68  @wisey_9 No less a sport than gymnastics, sync...
19998     sportscardex  @SGCFinests @darrenrovell @Sothebys @GoldinAuc...
19999       djliddle75  All "sport" hunters are cowards . . . https://...

[20000 rows x 2 columns]